<h1>ログイン</h1>
<% if flash[:danger] %>
  <p class="alert alert-danger"><%= flash[:danger] %></p>
<% end %>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :email, 'メールアドレス' %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password, 'パスワード' %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <%= f.submit 'ログイン', class: 'btn btn-primary' %>
<% end %>
