<div class="d-flex align-items-center">
  <h1>投稿一覧</h1>
</div>
<% if flash[:notice] %>
  <p class="alert alert-primary"><%= flash[:notice] %></p>
<% end %>
<% if flash[:success] %>
  <p class="alert alert-success"><%= flash[:success] %></p>
<% end %>
<% if flash[:danger] %>
  <p class="alert alert-danger"><%= flash[:danger] %></p>
<% end %>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th >写真</th>
      <th>タイトル</th>
      <th>作成者</th>
      <th>作成日時</th>
      <th>更新日時</th>
      <th></th>
      <th></th>
   </tr>
 </thead>
 <tbody>
   <% @blogs.each do |blog| %>
     <tr>
       <td><%= image_tag blog.image.to_s, class: "image_index" %></td>
       <td><%= blog.title %></td>
       <td><%= blog.user.name %></td>
       <td><%= blog.created_at.to_s(:datetime_jp) %></td>
       <td><%= blog.updated_at.to_s(:datetime_jp) %></td>
       <td><%= link_to '詳細', blog, class: "btn btn-outline-dark" %></td>
       <% if blog.user.id == current_user.id %>
       <td><%= link_to '削除', blog, class: "btn btn-outline-dark", method: :delete %></td>
       <% end %>
     </tr>
   <% end %>
 </tbody>
</table>
